@use '../abstracts/variables' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  max-width: $bodyWrapper;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  line-height: $bodyLineHeight;
  margin-inline: auto;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $hdrFont;
  font-weight: $headerFontWeight;
  line-height: 100%;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

fieldset,
input {
  border: none;
}

.wrapper {
  max-width: $contentWrapper;
  margin: auto;
  position: relative;
}

.accent-color {
  color: $accentColor;
}

.sub-hdr {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 12px;
  font-weight: 400;
}

.hdr {
  font-weight: $headerFontWeight;
  font-size: $headerFontSize;
}
