// Colors
$priColor: #0b0d20;
$secColor: #0f112c;
$accentColor: #f55656;

// Fonts
$bodyFont: 'Poppins', sans-serif;
$hdrFont: 'Poppins', sans-serif;
$bodyLineHeight: 27px;
$headerFontSize: 4rem;
$headerFontWeight: 700;
$bodyFontSize: 1.8rem;

// Others
$bodyWrapper: 1920px;
$contentWrapper: 1375px;
