// Colors
$priColor: #031d2a;
$secColor: #041a28;
$sectionBg: #ffffff0a;
$accentColor: #f55656;

// Fonts
$bodyFont: 'Poppins', sans-serif;
$hdrFont: 'Poppins', sans-serif;
$bodyLineHeight: 27px;
$headerFontSize: 4rem;
$headerFontWeight: 600;
$bodyFontSize: 1.8rem;

// Others
$bodyWrapper: 1920px;
$contentWrapper: 1280px;
