@use '../abstracts/abstractsIndex' as *;

.about {
  padding: 0 20px;
  color: #fff;
  scroll-margin-top: 40px;
  @include mediaMax(1024px) {
    scroll-margin-top: 120px;
  }
  &__wrapper {
    max-width: 1530px;
  }
  &__container {
    padding-top: 8%;
    @include mediaMax(1024px) {
      padding-top: 60px;
    }
  }
}

.about-header {
  text-align: center;
  &__title1 {
    &--accent-color {
    }
  }

  &__paragraph {
    margin-top: 51px;
    @include mediaMax(1024px) {
      margin-top: 40px;
    }
  }

  &__title2 {
    margin-top: 99px;
    font-size: 3.5rem;
    @include mediaMax(1024px) {
      margin-top: 60px;
    }
    &--accent-color {
    }
    &--sub-hdr {
      margin-top: 10px;
    }
  }
}

.technology-lists {
  margin-top: 40px;
  padding-bottom: 8%;
  overflow: hidden;
  position: relative;
  animation: marquee 50s linear infinite;
  width: 200%;
  @include flexBetween(0.4%);
  @include mediaMax(1024px) {
    width: 100%;
    animation: none;
    gap: 8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 60px;
  }
  &__item {
  }
  &__item.clone {
    @include mediaMax(1024px) {
      display: none;
    }
  }
  &__figure {
    position: relative;
  }
  &__img {
    cursor: pointer;
    border-radius: 20px;
    transition: transform 400ms linear;
    max-width: 124px;
    &:hover {
      transform: scale(0.7) translateY(-15px);
    }
    &:hover + figcaption {
      opacity: 1;
      transform: translateY(0);
    }
    @include mediaMax(1024px) {
      display: none;
    }
  }
  &__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4%;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 400ms linear;
    transform: translateY(50px);
    font-size: 1.5rem;
    @include mediaMax(1024px) {
      @include glass();
      padding: 10px 42px;
      transform: none;
      opacity: 1;
      position: static;
    }
  }
}
