@use '../abstracts/abstractsIndex' as *;

.banner {
  padding: 0 20px;
  position: relative;
  @include sectionBg;

  &__video_container {
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__video {
    width: 1920px;
    position: relative;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
  }

  &__information {
    min-height: 440px;
    padding: 105px 20px;
    width: 100%;
  }
}

.banner-information {
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 240px 0 135px;
  &__title {
    font-weight: 400;
    font-size: $headerFontSize;
    &--sub-hdr {
      font-weight: 400;
    }
    &--accent-color {
      font-weight: $headerFontWeight;
    }
  }

  &__text {
    max-width: 600px;
    margin: 32px auto 0;
  }
  &__link {
    display: block;
    width: 22px;
    height: 42px;
    background: url(@images/banner/bnr-arrow.png) no-repeat center / 100% 100%;
    margin: 30px auto 0;
    transition: transform 300ms linear;
    &:hover {
      filter: brightness(0) invert(1);
      transform: translateY(10px);
    }
  }
}
