@use '../abstracts/abstractsIndex' as *;

.banner {
  padding: 0 20px;
  // background: $secColor;
  background: url(@images/banner/banner-bg.jpg) no-repeat center / 1920px 1000px;
  &__wrapper {
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
  }

  &__information {
    min-height: 440px;
    padding: 105px 20px;
    width: 100%;
  }
}

.banner-information {
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 135px 0;
  border: solid 1px #ffffff0a;
  @include glass(rgba(51, 28, 215, 0.02));
  &__title {
    font-weight: 400;
    font-size: $headerFontSize;
    &--sub-hdr {
      font-weight: 400;
    }
    &--accent-color {
      font-weight: $headerFontWeight;
    }
  }

  &__text {
    max-width: 600px;
    margin: 32px auto 0;
  }
  &__link {
    display: block;
    width: 22px;
    height: 42px;
    background: url(@images/banner/bnr-arrow.png) no-repeat center / 100% 100%;
    margin: 30px auto 0;
    transition: transform 300ms linear;
    &:hover {
      filter: brightness(0) invert(1);
      transform: translateY(10px);
    }
  }
}
