@use '../abstracts/abstractsIndex' as *;

.contact {
  padding: 0 20px;
  color: #fff;
  text-align: center;
  &__wrapper {
  }

  &__container {
    min-height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.contact-header {
  margin-bottom: 45px;
  &__title {
    font-size: $hdrFont;
    font-size: $headerFontSize;
    font-weight: $headerFontWeight;
  }
}

.form-area {
  $gap: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap;
  &__fieldset {
    @include flexBetween;
    gap: $gap;
  }
  &__label {
    display: block;
    position: relative;
    height: 60px;
    overflow: hidden;
    @include glass;
    &--email,
    &--name {
      width: 50%;
    }
    &--name {
    }
    &--email {
    }
    &--text-area {
      height: 135px;
    }
    & .error {
      display: none;
    }
  }
  &__placeholder {
    position: absolute;
    top: 15px;
    left: 25px;
    transition: all 300ms linear;
    @include formFont;
  }
  &__input {
    @include formFont;
    padding: 10px 25px 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-radius: inherit;
    outline: none;
    &:valid + .form-area__placeholder,
    &:focus + .form-area__placeholder {
      transform: translateY(-15px);
      font-size: 1.2rem;
      opacity: 0.5;
    }
    &--invalid {
      border: solid 1px red;
    }
    &--name {
    }
    &--email {
    }
    &--text-area {
      padding-top: 21px;
      height: 100%;
      resize: none;
      overflow: hidden;
    }
  }

  &__invalid {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 1.2rem;
    transition: all 300ms linear;
    border-color: red;
    color: red;
    animation: fadeInBottom 300ms linear;
  }

  &__btn {
    @include btn(bottom);
    margin: auto;
  }
}
