@use '../abstracts/abstractsIndex' as *;

.contact {
  padding: 0 20px;
  color: #fff;
  text-align: center;
  @include mediaMax(1024px) {
    padding-block: 60px;
  }
  &__loader-container {
    position: fixed;
    background: #000000ad;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &__loader {
    animation: zoomIn 500ms linear;
    @include alertMsg;
    @include glass;

    & span {
      transition: all 0.5s;
      animation: animate 2s infinite;
    }
  }

  &__alert-msg {
    @include alertMsg;
    @include glass;
    opacity: 1;
    transition: all 500ms linear;
    & span {
      color: #fff;
      font-size: 5rem;
      font-weight: 600;
      display: inline-block;
    }

    &--sent {
      opacity: 0;
      transform: translate3d(0, 200%, 0);
    }
    &--error {
      & span {
        font-size: 3.6rem;
        color: $accentColor;
      }
    }
    &--exit {
      opacity: 0;
    }

    & span:nth-child(1) {
      animation-delay: 0;
    }
    & span:nth-child(2) {
      animation-delay: 0.1s;
    }
    & span:nth-child(3) {
      animation-delay: 0.2s;
    }
    & span:nth-child(4) {
      animation-delay: 0.3s;
    }
    & span:nth-child(5) {
      animation-delay: 0.4s;
    }
    & span:nth-child(6) {
      animation-delay: 0.5s;
    }
    & span:nth-child(7) {
      animation-delay: 0.6s;
    }
    & span:nth-child(8) {
      animation-delay: 0.7s;
    }
    & span:nth-child(9) {
      animation-delay: 0.8s;
    }
  }

  &__wrapper {
  }

  &__container {
    min-height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mediaMax(1024px) {
      min-height: 0;
    }
  }
}

.contact-header {
  margin-bottom: 45px;
  &__title {
    font-size: $hdrFont;
    font-size: $headerFontSize;
    font-weight: $headerFontWeight;
  }
}

.form-area {
  $gap: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap;
  @include mediaMax(600px) {
    $gap: 15px;
    gap: $gap;
  }
  &__fieldset {
    @include flexBetween($gap);
    @include mediaMax(600px) {
      flex-wrap: wrap;
    }
  }
  &__label {
    display: block;
    position: relative;
    height: 60px;
    overflow: hidden;
    @include glass;
    &--email,
    &--name {
      width: 50%;
      @include mediaMax(600px) {
        width: 100%;
      }
    }
    &--name {
    }
    &--email {
    }
    &--text-area {
      height: 135px;
    }
    & .error {
      display: none;
    }
  }
  &__placeholder {
    position: absolute;
    top: 15px;
    left: 25px;
    transition: all 300ms linear;
    @include formFont;
  }
  &__input {
    @include formFont;
    padding: 10px 25px 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-radius: inherit;
    outline: none;
    &:valid + .form-area__placeholder,
    &:focus + .form-area__placeholder {
      transform: translateY(-15px);
      font-size: 1.2rem;
      opacity: 0.5;
    }
    &--invalid {
      border: solid 1px red;
    }
    &--name {
    }
    &--email {
    }
    &--text-area {
      padding-top: 21px;
      height: 100%;
      resize: none;
      overflow: hidden;
    }
  }

  &__invalid {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 1.2rem;
    transition: all 300ms linear;
    border-color: red;
    color: red;
    animation: fadeInBottom 300ms linear;
  }

  &__btn {
    @include btn(bottom);
    margin: auto;
  }
}

.loader-container {
  position: fixed;
  background: #031d2a;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ldio-rotate > div:nth-child(2) {
  transform: translate(-15px, 0);
}
.ldio-rotate > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #ffff;
  animation: ldio-rotate-1 1s linear infinite;
  transform-origin: 60px 60px;
}
.ldio-rotate > div:nth-child(2) div:nth-child(2) {
  animation: ldio-rotate-2 1s linear infinite;
}
.ldio-rotate > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}

.ldio-rotate > div:nth-child(1) {
  display: block;
}
.ldio-rotate > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f55656;
  animation: ldio-rotate-3 1s linear infinite;
}
.ldio-rotate > div:nth-child(1) div:nth-child(1) {
  animation-delay: -0.67s;
}
.ldio-rotate > div:nth-child(1) div:nth-child(2) {
  animation-delay: -0.33s;
}
.ldio-rotate > div:nth-child(1) div:nth-child(3) {
  animation-delay: 0s;
}
.loadingio-spinner-bean-eater {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  transform: scale(2);
}
.ldio-rotate {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
  background: #031d2a;
}
.ldio-rotate div {
  box-sizing: content-box;
}
/* [ldio] generated by https://loading.io */
