@use '../abstracts/abstractsIndex' as *;

.footer {
  padding: 0 20px;
  @include sectionBg;
  &__wrapper {
  }
  &__container {
    @include flexBetween;
    align-items: center;
    min-height: 150px;
  }

  .socials {
    &__list {
      @include flexBetween;
      align-items: center;
      gap: 15px;
    }
    &__item {
      width: 50px;
    }
    &__link {
      display: block;
      height: 50px;
      aspect-ratio: 1/1;
      transition: all 300ms linear;
      &:hover {
        opacity: 0.5;
        transform: scale(0.8);
      }
    }
    &__figure {
      width: 100%;
      height: 100%;
    }
    &__img {
      width: inherit;
      height: inherit;
    }
  }
}

.footer-nav {
  &__list {
    @include flexBetween;
  }
  &__item {
    @include flexBetween;
    align-items: center;
  }
  &__link {
    color: #fff;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
    transition: 300ms linear;
    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 7px;
    }
  }
}
