@use '../abstracts/abstractsIndex' as *;

.footer {
  background: $secColor;

  &__wrapper {
  }
  &__container {
    @include flexBetween30;
    align-items: center;
    min-height: 150px;
  }

  .socials {
    &__list {
      @include flexBetween30;
      align-items: center;
      gap: 15px;
    }
    &__item {
      width: 50px;
    }
    &__link {
      & img {
        width: 50px;
        aspect-ratio: 1/1;
      }
    }
  }
}

.footer-nav {
  &__list {
    @include flexBetween30;
  }
  &__item {
    @include flexBetween30;
    align-items: center;
  }
  &__link {
    color: #fff;
  }
}
