@use '../abstracts/abstractsIndex' as *;

.header {
  background-color: $priColor;
  padding-inline: 20px;

  &__wrapper {
    max-width: 1282px;
  }

  &__container {
    @include flexBetween;
    align-items: center;
    padding: 37px 0;
  }

  &__logo {
    width: 179px;
  }

  &__logo-img {
  }

  &__navigation {
    margin-inline: auto 11.3%;
  }

  &__resume-btn {
    @include btn(left);
  }
}

.header-nav-list {
  @include flexBetween(55px);
  align-items: center;
  &__item {
  }

  &__item-link {
    color: #fff;
    font-size: 2rem;
    transition: all 300ms linear;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
  }

  &__item-link:hover,
  &__item-link:active {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 7px;
  }
}
