@use '../abstracts/abstractsIndex' as *;

.projects {
  padding: 0 20px;
  text-align: center;
  color: #fff;
  @include sectionBg;
  @include mediaMax(1024px) {
    padding-block: 40px;
  }
  &__wrapper {
  }
  &__container {
    min-height: 910px;
    @include mediaMax(1024px) {
      min-height: 0;
    }
  }
  &-header {
    padding-top: 110px;
    @include mediaMax(1024px) {
      padding-top: 0;
    }
  }

  &__slider_area {
    position: relative;
    max-width: 1024px;
    margin: auto;
    @include mediaMax(800px) {
      transform: scale(0.7);
    }
  }
}

.slider {
  margin: 50px auto 0;
  overflow: hidden;
  width: 620px;
  height: 418px;
  @include mediaMax(800px) {
    margin-top: 0;
  }
  &::after {
    content: url(@images/projects/desktop-project-frame.png);
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease;
    padding: 30px 0;
  }
  &__slide {
    flex: 0 0 100%;
  }
  &__figure {
  }
  &__img {
  }
  &__navigation {
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 40px);
    max-width: 1280px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    @include mediaMax(1024px) {
      max-width: 180px;
      transform: none;
      margin: 110px auto 0;
      position: static;
    }
    @include mediaMax(800px) {
      max-width: 140px;
      margin: 40px auto 0;
    }
  }
  &__navigator {
    transition: all 300ms linear;
    pointer-events: auto;
    width: 69px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: url(@images/projects/arrow.png) no-repeat center, $accentColor;
    @include mediaMax(800px) {
      width: 58px;
    }
    &:hover {
      background-color: #37394d;
    }
    &--prev {
    }
    &--next {
      transform: scale(-1);
    }
  }
  &__btn-container {
    @include flexBetween;
    justify-content: center;
    max-width: 470px;
    margin: 150px auto 0;
    @include mediaMax(1024px) {
      margin-top: 40px;
    }
  }

  &__btn {
    &--visit {
      @include btn(left);
      max-width: 210px;
    }
    &--code {
      @include btn(right);
      max-width: 230px;
    }
    &.hidden {
      display: none;
    }
  }

  &__slider2_wrapper {
    width: 150px;
    height: 315px;
    position: absolute;
    bottom: -90px;
    left: 24%;
    margin-left: 50%;
    &::after {
      content: url(@images/projects/mobile-project-frame.png);
      top: 0;
      @include mediaMax(800px) {
        left: -11px;
        position: relative;
      }
    }
    @include mediaMax(1024px) {
      left: 220px;
    }
  }
  &--2 {
    width: 129px;
    height: 315px;
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    &::after {
      display: none;
    }
    @include mediaMax(800px) {
      top: 12px;
      left: 43%;
    }
  }
}
